<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div id="app">   
     <!-- bootstrap就是一个样式表，是栅格化布局默认12列，有一些框架可能是8列或24列等，
        常见的样式: 基本样式 + 增强样式
        default -灰色；success-绿色；danger-红色； warning-橙色；info -浅蓝色

        vue的UI框架：iview,mintui,elementui
    -->
        <div class="container">
            <div class="row">
                <table class="table table-bordered table-hover">
                    <!-- 表格标题  caption-->
                    <caption class="h3 text-center">购物车列表</caption>
                    <tr>
                        <!-- -----------5--------- -->
                        <!-- 复选框：
                            1. 一般加事件加change事件，也就是更改完状态后触发事件，而不是click,用click 是点击，但此时状态还没变，得到的状态是变化之前的 
                             change可以保证 当值变化后 再触发函数
                            2. 参数传 checkbox的 v-model值，然后根据这个值做处理:遍历数组，将数组中的复选框的值 改成 这个传进来的值
                        -->
                        <th>全选 <input type="checkbox" v-model='checkAll'  @change = 'change(checkAll)'></th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for='(item,index) in lists'>
                        <td><input type="checkbox" v-model='item.isSelected' @change = 'changeEle()'></td>
                        <!-- --------------1------------------ -->
                        <!-- 动态绑定数据：v-bind:指令  等于  ：
                        {{}}是不能写在属性里的，可以使用v-bind:属性名 = '属性值是变量' ， 
                        v-bind: 可以简写为 ：，也就是   ：属性名 = '属性值是变量'
                        -->
                        
                        <td><img :src="item.img" alt="" :title='item.name'>
                            {{item.info}}</td>
                        <td>{{item.price}}</td>
                        <!-- ---------2------------- -->
                        <!-- 1. 如果要限制输入框只能输入数字，让type ='number' 
                             2. input 取出来的值item.num 是字符串类型的123，要想取的值是数字，使用修饰符v-model.number 
                             3. 修饰符.number 是让输入框的值变成数字类型；.lazy 当输入框失去焦点时更新数据
                        
                            min='1' 输入框最小值是1
                            -->
                        <td><input type="number" v-model.number="item.num" min='1'></td>
                        <td>{{item.price * item.num | toFixed(2)}}</td>
                        <!-- -------------------3-------------- -->
                        <!-- 
                            数字有小数点时，可以使用  num.toFixed(2)来保留2位小数，但比较麻烦每次要手动添加
                            我们希望方法可以复用，写一个方法，有比函数更好的方法：过滤器

                            过滤器：原数据不变的情况下，只是改变显示的效果（管道符 |），
                            管道符|用法： num | 自己写发方法，这个自己写的方法放在filters里面
                         -->
                        <td><button class="btn btn-danger" @click = del(item)>删除</button></td>
                        <!-- -------------4----------- -->
                        <!-- 
                            {} === {}  这个返回的是false,因为{}是引用中，这俩个比较的实际是地址
                            而let a = arr[0], a 里面放的是地址（引用值）或者 原始值，所以 arr[0] 和 数组遍历的某一项比较 是可以相等的，比较的是空间地址
                         -->
                    </tr>
                    <tr>
                        <!-- ---------------6--------------- -->
                        <!-- 1. {{}} 里可以放函数 fn()，也就是函数执行，也就是会把函数执行的结果放在{{}}里
                            2. {{}} 里放到是函数的执行，当页面数据有变化的时候，这个函数就会重新执行
                            3. 这个函数只有return返回一个结果
                            4. {{sum()}}数据一变化就会重新调用此函数，算出最新的结果，但是不会缓存上一次的结果
                              computed 可以解决这个问题

                            colspan='6' 一列占6列
                        -->
                        <td colspan="6">总计：{{sum() | toFixed(2)}}</td>
                    </tr>
                </table> 
            </div>
        </div>
        
    </div>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
    let vm = new Vue({ 
        el:'#app',

        created(){  
           this.initData();
           
        },
        data:{   
            lists:[],   
            checkAll:false,  //是否全选
        }, 
        filters:{  //3.1 过滤器，里面可以有好多的自定义过滤器，  用的时候 在数据后面加  | 过滤器方法
          toFixed(val,num){   //3.2 这里面的this 指向的时window,第一个参数val 是管道符前面的内容,     用在html 中，和data一起放在{{}}中
              return val.toFixed(num);   //3.3 返回什么就显示什么
          }  
        },
        methods:{  
            initData(){
                axios.get('./carts.json').then((res) => {  //成功的回调,limian
                    // console.log(res.data);
                    this.lists = res.data;
                    // ------------5.2  全选问题-----------
                    // 复选框还有个问题：就是页面一加载的时候，可能下面都选了，全选框没选中，所以我们再数据获取完成后，同步下全选框的状态
                    // 这个不可以写在created 初始化数据后，因为那是异步的，可能会执行的时候，数据还没获取完成
                    this.changeEle();  //数据获取完后，给checkAll 赋予默认值
                },(err) => {   //失败的回调
                    console.log(err);
                })
            },
            del(item){
                this.lists = this.lists.filter((ele,index,self)=>{
                    if(ele !== item){     //4.1也可以简写为：  return ele !== item
                        return true;
                    }
                })
            },
            // --------5.1----------------
            change(val){
                 //forEach 不支持return,所以不能写this.lists = this.lists.forEach()
                 this.lists.forEach(ele => {   
                    ele.isSelected = val;     //根据自己的状态 设置其他复选框的状态
                }) 

                /* this.lists = this.lists.map(ele => {   //使用map 不可，map会把return的内容返回到新数组中，数组格式都变了
                    return ele.isSelected = val;
                }) */
            },
            changeEle(){  //根据下面的结果确定全选的结果
                this.checkAll = this.lists.every(ele=>{    //every  如果返回结果都为true 才返回true,有一个为false 就返回false,并跳出循环
                    return ele.isSelected;
                })
            },
            // -----------6.1  求和------------
            /* reduce:
            1. 如果有第二个参数0，那么cur就是从第一个开始的，
            如果没有的话cur 从第2个开始，第一个prev是第一项，以后的prev是每次的return */
            sum(){
                return this.lists.reduce((prev,cur,index,self)=>{   //这里要写return ,要直接返回
                    if(!cur.isSelected){
                        return prev;   //如果当前项没被选中，就不加当前这一项
                    }
                    return prev + cur.price * cur.num;
                },0)
            }
        }
    })
    </script>
</body>
</html>