<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div id="app">   
        <panel :color='item.type' @show-title='parentFn' v-for='(item,index) in articles' :key='index'>
            <p slot='title' v-html='item.title'></p>
            <div slot='body' v-text='item.content'>

            </div>
            <div v-if='item.footer'>
                {{item.footer}}
            </div>
        </panel>
        <!-- <panel color='default'></panel>  -->
        <!-- 传入不同的属性color颜色，定制样式 -->
    </div>
    <template id='panel'>
        <div class="panel" :class='mycolor'>
            <div class="panel-heading" ref='head'>
                <slot name='title'></slot>   
                <!-- 标题标题标题111 通过具名slot传到这里，然后用refs获取这里的内容 -->
            </div>
            <div class="panel-body">
                <slot name='body'></slot>
            </div>
            <div class="panel footer">
                <slot>默认内容</slot>
                <button @click='sayTitle'>点击弹标题</button>

            </div>
        </div>
    </template>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
    let panel = {
       template:'#panel' ,
       computed:{
            mycolor(){  //注意：类名panel-warning 后面的字段是父组件传入的，可以用计算属性进行处理，变成子组件的数据
                return `panel-${this.color}`
            }
            // 父组件传的数据color不能在子组件里更改，可以在data里赋给一个新数据，也可以用计算属性算出一个新数据，然后修改
       },
       props:{
           color:{
               type:[String],   //注意：['String'] 这样加''会报错
               default:'primary'
           }
       },
       methods:{
        sayTitle(){
            // alert(this.$parent.num);    this.$parent可以找到父组件实例
            this.$emit('show-title',this.$refs.head.innerText);
        }
       }
    }
    let vm = new Vue({ 
        el:'#app',
        data:{   
            num:'333',
            articles:[
                {type:'warning',title:'<p>标题666</p>',content:'内容66622222',footer:'结尾666333'},
                {type:'success',title:'<p>标题777</p>',content:'内容77722222 '},
                {type:'danger',title:'<p>标题888</p>',content:'内容88822222',footer:'结尾888333'},
            ]
        }, 
        components:{
            panel
        },
        methods:{
            parentFn(val){
                alert(val);
            }
        }
    })
    </script>
</body>
</html>